body {
  color: #aaa;
  background-color: #272b30;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #272b30 !important;
  border-bottom: 1px solid rgba(28, 28, 28, 0.6);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.img {
  width: 70px;
  filter: drop-shadow(1px 1px 3px #1983e6ce);
}

.form {
  background-color: #32383e;
}

.height {
  height: -webkit-fill-available;
}

.small-font {
  font-size: 14.5px;
}

.hero {
  background-image: url(./Images/paladins.b44d33d6e7ee1ba8.png);
  background-repeat: no-repeat;
  background-color: #1c1e22;
  background-position: top;
  background-size: contain;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 5rem 2rem;
}

.home-name {
  font-size: 2.8rem;
}

.home-title {
  font-size: 1.22rem;
}

.home-button:hover {
  background-color: gray !important;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #32383e;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 406px) {
  .font-size {
    font-size: 18.4px !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-mobile-query {
    display: none;
  }
  .form {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .media-font {
    font-size: 13.1px !important;
  }
}

@media only screen and (max-width: 768px) {
  .media-font {
    font-size: 13.1px !important;
  }
}

.text {
  margin: 1px;
}

@media only screen and (max-width: 768px) {
  .all {
    width: 50% !important;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-collapse {
    margin: 0 !important;
  }
}
